{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(15, 15, 15, 1); /* #0f0f0fff */
}

.container {
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
}

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 2), 
       only screen and (min-resolution: 192dpi) {
    .logo {
        width: 200px; /* Adjust width for retina */
        height: auto; /* Maintain aspect ratio */
        content: url('logo@2x.svg'); /* Use a high-resolution SVG if available */
    }
}
